@font-face {
    font-family: 'Grandstander', cursive;
    src: url("https://cdhanna.github.io/louiepress/fonts/KOMIKAX_.ttf");
}

html, body {
    height:100%;
    font-family: 'Grandstander';
} 
html {
    background-color: #3098e7;
    background-image: url(https://cdhanna.github.io/louiepress/images/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
}
body {
    margin: 0px 20%;
}

div:not(.fake) {
    background: #20519d;
    border-radius: 1px;
    box-shadow: 3px 4px 0px black, 1px 1px 7px -1px black;
    /* box-shadow: 0 0 5px 0px #0000003d; */
    padding: 24px 12px;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 18px;
    margin: 24px 0px;

}

.gifs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.gif {
    box-shadow: 5px 7px 0px black, 3px 3px 7px -1px black;
    margin: 12px;

}
h2, 
h4 {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-weight: bold;
    font-family: cursive;
}
img {
    max-width: 100%
}


div.steamWrapper {
    background: none;
    box-shadow: none;
    padding: 24px 0px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: red;
}

iframe.steam {
    width: 100%!important;
}
iframe.steam .game_purchase_action_bg.coming_soon {
    box-shadow: 3px 4px 0px black, 1px 1px 7px -1px black;

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 45vh;
    margin-bottom: 0px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 512x306 */
